* {
  margin: 10px;
}

.hr-form {
  width: 50%;
  border: 1px solid;
  margin: 50px 20px;
  padding: 20px;
}

.bold {
  font-weight: bold;
  display: inline;
}

.title {
  text-align: start;
}

.user {
  display: flex;
}

img {
  width: 160px;
  height: 90%;
  align-items: flex-start;
}
.input {
  display: flex;
}

.sector {
  display: flex;
}

.form-select {
  width: auto;
  margin-left: 30px;
}

.salary {
  display: flex;
  width: 71%;
}

label {
  margin-left: 0px;
}
